@import '/src/app/core/styles/colors.scss';

*{
    box-sizing: border-box;
}

h1{
    color: $first-color-2;
}
p{
    margin: 0;
    padding: 0;
    color: $first-color-3;
}


.centered{
    display: flex;
    justify-content: center;
}
.icon{
    cursor: pointer;
    user-select: none;
}
.my-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: $second-color-2;
    border-radius: 4px;

    .tooltip-text {
        display: none;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        background-color: $first-color-4;
        color: $second-color-2;
        border-radius: 4px;
        white-space: nowrap;
        z-index: 1;
        padding: 5px;

        &.right {
            top: 100%;
            left: 100%;

            &:before {
                top: 50%;
                left: 0;
            }
        }

        &.left {
            top: 100%;
            right: 100%;

            &:before {
                top: 50%;
                right: 0;
            }
        }
    }


    i.material-symbols-outlined {
        color: $second-color-2;
        margin-left: 5px;
    }

    &:hover {
        .tooltip-text {
            display: block;
        }
    }
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;

    input[type='radio'] {
        display: none;
    }

    label {
        color: $first-color-3;
        font-weight: normal;

        &:before {
            content: " ";
            display: inline-block;
            position: relative;
            top: 5px;
            margin: 0 5px 0 0;
            width: 20px;
            height: 20px;
            border-radius: 11px;
            border: 2px solid $first-color-1;
            background-color: transparent;
        }
    }

    input[type=radio]:checked+label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 9px;
        left: 10px;
        content: " ";
        display: block;
        background: $first-color-1;
    }
}


/*.overflow-cont {
    position: fixed;
    background-color: rgba($first-color-2, 0.5);
    width: 100%;
    height: 100vh;

    overflow-y: auto;

    z-index: 100;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;

    -ms-overflow-style: none;
    scrollbar-width: none;
}*/

.close-cont {
    color: $first-color-4;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;

    .icon {
        font-size: 36px;

        &:hover {
            color: $first-color-1;
        }
    }
}

.ul-list-navigation {
    margin: 0;
    padding: 0;

    list-style-type: none;
    display: flex;

    li {
        margin: 0;
        padding: 0;
        padding: 10px;

        border-bottom: 3.5px solid $first-color-2;

        background-color: $second-color-1;
        color: $first-color-2;

        cursor: pointer;

        &:hover {
            border-color: $first-color-0;
        }
    }

    li:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    li.active {
        border-bottom-color: $first-color-1;
    }
}

.inputs-cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-cont {
    box-sizing: border-box;

    color: $first-color-2;
    border-bottom: 3.5px solid $first-color-2;

    border-radius: 5px;

    background-color: $second-color-1;

    display: flex;
    align-items: center;
    gap: 5px;

    padding-right: 10px;

    &:focus-within {
        border-bottom-color: $first-color-4;
    }

    input {
        width: 100%;
        outline: none;

        border: 0;

        padding: 0;
        margin: 0;

        padding: 10px;

        background-color: transparent;

        color: $first-color-2;

        &:focus {
            color: $first-color-4;
        }

        &::placeholder {
            color: $first-color-2;
        }
    }

    textarea {
        outline: 0;
        resize: vertical;
        border: 0;
        width: 100%;

        padding: 0;
        margin: 0;

        padding: 10px;

        background-color: transparent;

        color: $first-color-2;

        &:focus {
            color: $first-color-4;
        }

        &::placeholder {
            color: $first-color-2;
        }
    }

    .icon {
        font-size: 32px;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $first-color-1;
        }
    }
}
.password-cont{
    justify-content: space-between;

    .password-input{
        width: 100%;
        input{
            width: 100%;
        }
    }
    .icon{
        cursor: pointer;
        user-select: none;
    }
}
.error-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .error{
        color: $warn-1;
    }
}
.global-error{
    text-align: center;
    color: $warn-1;
}


.standard-btn {
    padding: 0;
    margin: 0;
    outline: 0;
    padding: 10px 20px;

    background-color: $first-color-2;
    color: $second-color-1;

    font-weight: bold;

    border: 0;

    border-radius: 5px;

    &:hover {
        background-color: $first-color-3;
    }

    &:active {
        background-color: $first-color-4;
    }

    &:disabled{
        background-color: $warn-1;
        cursor: no-drop;
    }
}

.inverted-btn {
    padding: 0;
    margin: 0;
    outline: 0;
    padding: 10px 20px;

    background-color: $second-color-1;
    color: $first-color-2;
    
    font-weight: bold;
    
    border: 2px solid $first-color-2;
    border-radius: 5px;

    &:hover {
        background-color: $second-color-2;
    }

    &:active {
        background-color: $second-color-3;
    }

    &:disabled{
        background-color: $warn-1;
        cursor: no-drop;
    }
}

.one-radio-conts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.one-radio-cont{
    display: flex;
    gap: 10px;
    align-items: center;

    label{
        margin: 0;
        padding: 0;

        position: relative;
        top: -2px;

        color: $first-color-2;
    }
    input[type='radio']{
        appearance: none;
        background-color: transparent;
        margin: 0;
        font: inherit;
        color: currentColor;

        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $first-color-2;
        border-radius: 50%;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;
        cursor: pointer;

        &::before {
            content: "";
            width: 0.58em;
            height: 0.58em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $first-color-2;
            background-color: CanvasText;
        }

        &::after {
            content: "";
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: $first-color-2;
            opacity: 0;
            position: absolute;
            z-index: -1;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover:not(:disabled) {
            &::after {
                opacity: 0.08;
            }
        }

        &:active:not(:disabled) {
            &::after {
                opacity: 0.12;
            }
        }

        &:is(:active):not(:checked) {
            &::after {
                background-color: $first-color-2;
            }
        }

        &:checked {
            border-color: $first-color-2;

            &::after {
                opacity: 0;
            }

            &::before {
                transform: scale(1);
            }

            &:is(:hover, :focus) {
                &::after {
                    background-color: $first-color-2;
                }
            }

            &:is(:active) {
                &::after {
                    background-color: $first-color-2;
                }
            }
        }

        &:focus {
            outline: unset;

            &::after {
                opacity: 0.12;
            }
        }

        &:disabled {
            cursor: not-allowed;
            border-color: $first-color-2;
            opacity: 0.38;

            &::before {
                box-shadow: inset 1em 1em $first-color-2;
            }
        }
    }
}

.input-cont input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px $second-color-1 inset !important;
    -webkit-text-fill-color: $first-color-2;
}
.input-cont input:-webkit-autofill:focus{
    -webkit-text-fill-color: $first-color-4;
}