

$first-color-0:#b7d4ff;
$first-color-1:#5e9bf6;
$first-color-1-5:#4279cb;
$first-color-2:#676f81;
$first-color-3:#58637a;
$first-color-4:#414a5f;

$second-color-1:white;
$second-color-2:#f5f6f8;
$second-color-3:#ebeced;

$third-color-1:black;

$warn-1:#F95738;
$warn-2:#e64221;

$telegram-color-2:#24A1DF;
$telegram-color-1:white;

$youtube-color-3:#FF0001;
$youtube-color-1:#282829;
$youtube-color-2:white;