@import '/src/app/core/styles/colors.scss';

section{
    padding: 50px;
    padding-top: 100px;

    h1{
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        text-align: center;
        color: $first-color-2;
    }

    .mb-10{
        margin-bottom: 10px;
    }
    
    .centered{
        display: flex;
        justify-content: center;
    }

    .more-btn{
        padding: 0;
        margin: 0;
        outline: 0;
        padding: 10px 20px;
        
        background-color: $first-color-2;
        color: $second-color-1;

        font-weight: bold;

        border: 0;

        border-radius: 5px;

        &:hover{
            background-color: $first-color-3;
        }
        &:active{
            background-color: $first-color-4;
        }
    }

    .nothing-text{
        color: $first-color-1;
    }
    .add-workspace-btn-cont{
        position: absolute;
        bottom: 100px;
        padding: 10px;
        
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        user-select: none;
        cursor: pointer;
        background-color: $second-color-1;
        box-shadow: 0 0 10px 1px $first-color-2;
        border-radius: 50%;

        &:hover{
            background-color: $second-color-2;
        }
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        .icon{
            color: $first-color-3;
        }
    }
}

.disable{
    display: none;
}