<section>
    <h1 i18n>Завантаження ембедингів</h1>
    <p i18n>Завантаження ембедингів чи векторна візуалізація тексту: це процес перетворення тексту в масив чисел. Він необхідний для подальшої кластеризації тексту. Детальніше про векторну візуалізацію тексту описану на відповідній сторінці.<p>
    <p i18n>Щоб продовжити кластеризацію, необхідно забезпечити векторну візуалізацію тексту в робочому просторі. Для цього в додатковому функціоналі необхідно натиснути на відповідну функцію. Векторна візуалізація це досить довгий процес, тому створюється фонове завдання, прогрес якого можна побачити на відповідній сторінці. Після успішного проведення векторної візуалізації тексту, у статус відповідного робочого простору зміниться, та у його профілях можна буде проводити кластеризацію.</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_how_start_load_embeddings.png" alt="The image of how start loading embeddings">
    <p class="center" i18n>Зображення, як почати векторну візуалізацію тексту в робочому просторі.</p>
</section>