@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

section {
    align-items: center;
    .main-cont{
        width: 500px;

        h1{
            margin-bottom: 20px;
        }
        h2{
            font-size: 1em;
            color: $first-color-1;
            text-align: center;
            margin-top: 20px;
        }

        .time-cont{
            display: flex;
            
            align-items: center;
            justify-content: center;

            gap: 5px;

            span{
                color: $first-color-2;
            }
        }
        .error{
            color: $warn-1;
            text-align: center;
        }
        .references-cont{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            .reference{
                text-decoration: none;
                color: $first-color-3;
                background-color: $second-color-1;
                padding: 10px;
                border-radius: 8px;

                cursor: pointer;

                &:hover{
                    color: $first-color-1;
                }
            }
        }
    }
}