.cont{
    display: flex;
    gap: 10px;
    
    app-clusterization-dimension-types-input{
        flex: 1;
    }
    app-clusterization-algorithm-types-select{
        flex: 1;
    }
    app-embedding-models-select{
        flex: 1;
    }
}

@media screen and (max-width: 800px) {
    .cont{
        flex-direction: column;
    }
}