<section>
    <h1 i18n>Завантаження багатьох відео</h1>
    <p i18n>Завантаження одного або багатьох відео відбувається на відповідній секції відкрити яку можна в додаткових функціях взаємодії каналу.</p>
    <img src="https://clusterization.website/images/youtube/videos/load_many_videos_how_to_open.png" alt="The image of additional channel`s actions">
    <p class="center" i18n>Зображення як відкрити сторінку завантаження багатьох відео</p>

    <p i18n>На сторінці для завантаження необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата від: дата від якої завантажуються відео. Не є обов'язковим</li>
        <li i18n>Дата до: дата до якої завантажуються відео. Не є обов'язковим</li>
        <li i18n>Кількість відео: максимальна кількість відео, які можуть бути завантаженні. Є обов'язковим</li>
        <li i18n>Мінімальна кількість коментарів: мінімальна кількість коментарів у відео, щоб воно було завантажене. Не є обов'язковим</li>
        <li i18n>Мінімальна кількість переглядів: мінімальна кількість переглядів у відео, щоб воно було завантажене. Не є обов'язковим</li>
    </ul>
    <p i18n>Після цього користувач повинен натиснути відповідну кнопку завантаження та натиснути кнопку для завантаження. Це створить спеціальну фонову задачу, та відео по даним критеріям будуть завантажені</p>
    <img src="https://clusterization.website/images/youtube/videos/load_many_videos_page.png" alt="The image of loading many youtube videos">
    <p class="center" i18n>Сторінка завантаження багатьох відео</p>
</section>