<section class="overflow-cont" [class.open]="animationState=='in'">
    <div class="main-cont" [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="closeOverflow()">close</span>
        </div>
        <h1 i18n>Завантажити новий канал</h1>

        <ul class="ul-list-navigation">
            <li routerLinkActive="active" routerLink="by-username" i18n>Завантажити по username</li>
            <li routerLinkActive="active" routerLink="by-name" i18n>Завантажити по назві</li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</section>