<section>
    <h1 i18n>Створення</h1>
    <p i18n>Кожен зареєстрований користувач може створити робочий простір. Також, власник при створенні обмежує область видимості та змінення, щоб забезпечити конфіденційність та ізольованість робочого простору при необхідності.</p>
    <p i18n>Кожен робочий простір має деякі властивості, такі як: тип вхідних даних (коментарі з платформи Youtube або зовнішні дані у певному форматі), область видимості (яка визначає, хто може бачити робочий профіль) та область змінювання (яка визначає, хто може змінювати робочий простір).</p>
    <p i18n>Щоб відкрити сторінку створення робочого простору, необхідно натиснути на відповідну кнопку в нижньому лівому куті екрану.</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_how_to_open_creation_page.png" alt="The image of how open creation workspaces page">
    <p class="center" i18n>Зображення як відкрити сторінку створення робочого простору</p>
    
    <p i18n>На сторінці необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Заголовок: максимальна довжина - 100. Поле є обов'язковим</li>
        <li i18n>Опис: максимальна довжина - 3000. Поле є обов'язковим</li>
        <li i18n>Тип робочого простору: "Коментарі" або "З файлу". Встановлюють специфікацію робочого простору. Якщо вибрано "Коментарі", до робочого простору можна додавати та працювати тільки з коментарями з платформи Youtube. Якщо вибрано "З файлу", до робочого простору можна завантажувати різні текстові дані з файлу у спеціальному форматі (детальніше описано у відповідному розділі).</li>
        <li i18n>Область видимості: визначає, хто буде бачити робочий простір: всі, чи тільки його власник.</li>
        <li i18n>Область модифікації: визначає, хто може змінювати робочий простір: всі, чи тільки його власник.</li>
    </ul>
    <p i18n>Після цього користувач може додати робочий простір із відповідними властивостями. Відповідно до вибраних характеристик, робочий простір може бути доступним як тільки власнику, так і всім користувачам.</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_creation_page.png" alt="The image of adding workspace">
    <p class="center" i18n>Сторінка створення робочого простору</p>
</section>