<section>
    <h1 i18n>Список завдань</h1>
    <div class="top-cont">
        <app-task-statuses-select (sendEvent)="selectStatus($event)"></app-task-statuses-select>
    </div>
    <div class="centered" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="list-cont">
        @for (task of tasks; track $index) {
            <app-moderator-main-task-card [task]="task" [customerId]="customerId"></app-moderator-main-task-card>
        }@empty {
            <div class="centered" *ngIf="!isLoading && !isLoading2">
                <p class="nothing-text" i18n>Завдань не знайдено</p>
            </div>
        }
    </div>

    <div class="centered" *ngIf="isLoading2">
        <app-loader></app-loader>
    </div>
    <div class="centered" *ngIf="isLoadMoreAvailable && !isLoading && !isLoading2">
        <button class="more-btn" (click)="loadMore()" i18n>Завантажити більше</button>
    </div>
</section>