<section>
    <h1 i18n>Відображення каналу</h1>
    <h2 i18n>Картка каналу у списку</h2>
    <p i18n>При перегляді каналів у списку кожен із них відображається у вигляді картки. На ній зображено: назва каналу,
        зображення, кількість учасників, username й кількість завантажених повідомлень у систему сайту. Також відображається дата завантаження каналу. Більшість
        даних можна копіювати натиснувши на них. Якщо канал вже завантажено в систему, колір його назви червоний. У
        іншому випадку сірий</p>
    <img src="" alt="the telegram channel`s card">
    <p class="center" i18n>Картка каналу</p>

    <h2 i18n>Детальна сторінка каналу</h2>
    <p i18n>Натиснувши на картку каналу можна попасти на основну сторінку. На ній зображається основна інформація про канал.
        Також розміщуються інші сторінки, такі як список завантажених повідомлень каналу та можливість завантажити більше
        відео. Крім цього, існують додаткові функції взаємодії</p>
    <img src="" alt="The telegram channel`s page">
    <p class="center" i18n>Сторінка каналу</p>
</section>