@import '/src/app/core/styles/base.scss';
.icon{
    color: $first-color-2;
    
    user-select: none;
    cursor: pointer;
}
.top-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .resize-cont{
        display: flex;
        gap: 10px;
    }
}
section{
    max-width: 100%;
}
.main-cont{
    display: flex;
    justify-content: space-between;

    gap: 10px;

    max-width: 100%;
    width: 100%;
    .flex-2{
        flex-basis: 2;
        width: 66%;
    }
    .flex-1{
        flex-basis: 1;
        width: 34%;
    }
}