<section>
    <div class="top-cont">
        <div class="resize-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="addLayerValue()">add</span>
            <span class="material-symbols-outlined icon" translate="no" (click)="reduceLayerValue()">remove</span>
            <span class="material-symbols-outlined icon" translate="no" (click)="centralize()">center_focus_strong</span>
        </div>
        <div>
            <span class="material-symbols-outlined icon" translate="no" (click)="downloadImage()">download</span>
        </div>
    </div>
    <div class="main-cont">
        <app-points-map-plane
        [layerValue]="layerValue"
        (addTileEvent)="addTile($event)"
        [tilesLevel]="tilesLevel"
        [tiles]="tiles"
        (addMultipleTilesEvent)="addManyTiles($event)"
        [loadingMatrix]="loadingMatrix"
        (wheel)="handleMouseWheel($event)"></app-points-map-plane>
        <app-clusters-list [profileId]="profileId"></app-clusters-list>
    </div>
</section>