<section class="overflow-cont" [class.open]="animationState=='in'">
    <div appDynamicWidth
         [@popUpAnimation]="animationState"
         class="main-cont">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="close($event)">close</span>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <span *ngIf="!isLoading && isSuccess" class="material-symbols-outlined icon confirm-icon" translate="no">check_circle</span>
        <p *ngIf="!isLoading && isSuccess" class="center">Ви успішно підтвердили електронну пошту</p>
        <span *ngIf="!isLoading && !isSuccess" class="material-symbols-outlined icon error-icon" translate="no">error</span>
        <p *ngIf="!isLoading && !isSuccess" class="center">Підтвердження почти не вдалося</p>
    </div>
</section>