@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

section {
    display: flex;
    align-items: center;
    justify-content: center;

    .main-cont{
        width: 500px;

        .confirm-icon,
        .error-icon{
            font-size: 200px;
            text-align: center;
            user-select: none;
            cursor:auto;
        }
        .confirm-icon{
            color: $first-color-1;
        }
        .error-icon{
            color: $warn-1;
        }
    }
}
.center{
    text-align: center;
}