<section>
    <h1 i18n>Завантаження каналу за id</h1>
    <p i18n>У кожного каналу Telegram є username. Саме за ним відбувається завантаження. Для початку потрібно ввести
        username у відповідне поле та натиснути кнопку "додати". Якщо канал з таким username існує, він буде завантажений та
        доданий до списку каналів. Після успішного завантаження з'явиться відповідне повідомлення</p>
    <img src="" alt="The page of loading telegram channel by username">
    <p class="center" i18n>Сторінка завантаження каналу за username</p>
</section>