<section>
    <h1 i18n>Список пакетів зовнішніх даних</h1>
    <div class="mb-10">
        <app-search-input (sendEvent)="searchStrChanges($event)"></app-search-input>
    </div>
    <div class="centered" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <app-external-objects-pack-list [packs]="packs" [class.disable]="isLoading"></app-external-objects-pack-list>
    <div class="centered" *ngIf="isLoading2">
        <app-loader></app-loader>
    </div>
    <div class="centered" *ngIf="isLoadMoreAvailable && !isLoading && !isLoading2">
        <button class="more-btn" (click)="addMore()" i18n>Завантажити більше</button>
    </div>
</section>