@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

section{
    display: flex;
    align-items: center;
    justify-content: center;
    .main-cont{
        width: 600px;
        h1{
            color: $first-color-2;
            text-align: center;
            margin-bottom: 20px;
        }

        .add-cont{
            margin-top: 20px;
        }
    }
}