<section class="overflow-cont small-overflow-cont" [class.overflow-cont-open]="animationState=='in'">
    <div class="main-cont" [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="closeOverflow()">close</span>
        </div>
        <h1 i18n>Додати новий алгоритм</h1>
        <app-clusterization-algorithm-types-select (sendEvent)="selectType($event)"></app-clusterization-algorithm-types-select>
    
        <div class="add-cont">
            <app-add-k-means-algorithm *ngIf="typeId=='KMeans'"></app-add-k-means-algorithm>
            <app-add-one-cluster-algorithm *ngIf="typeId=='OneCluster'"></app-add-one-cluster-algorithm>
            <app-add-dbscan-algorithm *ngIf="typeId=='DBSCAN'"></app-add-dbscan-algorithm>
            <app-add-spectral-clustering-algorithm *ngIf="typeId=='SpectralClustering'"></app-add-spectral-clustering-algorithm>
            <app-add-gaussian-mixture-algorithm *ngIf="typeId=='GaussianMixture'"></app-add-gaussian-mixture-algorithm>
        </div>
    </div>
</section>