
<div class="cont">
    <div class="elect-cont">
        <span class="material-symbols-outlined icon" translate="no"  (click)="elect($event)" *ngIf="!profile.isElected">star</span>
        <span class="material-symbols-outlined icon elected" translate="no"  (click)="unelect($event)" *ngIf="profile.isElected">star</span>
    </div>
    <div class="main-cont" (click)="openFull()">
        <p>{{profile.fullTitle}}</p>
        <span class="material-symbols-outlined icon" translate="no" matTooltip="The profile is your" *ngIf="isYour">face</span>

        <span class="material-symbols-outlined icon" translate="no" matTooltip="The profile is visible for all customers" *ngIf="profile!=null && profile.visibleType=='AllCustomers'">visibility</span>
        <span class="material-symbols-outlined icon" translate="no" matTooltip="The profile is visible only for you" *ngIf="profile!=null && profile.visibleType=='OnlyOwner'">visibility_off</span>

        <span class="material-symbols-outlined icon" translate="no" matTooltip="The profile is changeable by everyone" *ngIf="profile!=null && profile.changingType=='AllCustomers'">update</span>
        <span class="material-symbols-outlined icon" translate="no" matTooltip="The profile is changeable only by you" *ngIf="profile!=null && profile.changingType=='OnlyOwner'">update_disabled</span>
    </div>
</div>