<section>
    <h1 i18n>Створення</h1>
    <p i18n>Функція створення профілю знаходиться в додатковому функціоналі робочого простору. Додати профіль можна тільки до того робочого простору, зміна якого можлива для всіх користувачів (або ви є власником робочого простору).</p>

    <img src="https://clusterization.website/images/profiles/profiles_how_add.png" alt="The image how to open page of creating profile">
    <p class="center" i18n>Зображення, як відкрити сторінку додавання профілю</p>

    <p i18n>Параметри для створення One cluster</p>
    <ul>
        <li i18n>Тип алгоритму: тип алгоритму кластеризації. Параметр є обов'язковим.</li>
        <li i18n>алгоритм: певний алгоритм вибраного типу, який буде використовуватися під час кластеризації. Параметр є обов'язковим.</li>
        <li i18n>Модель векторної візуалізації: модель, яка буде використовуватися при завантажені ембедингів.</li>
        <li i18n>Кількість вимірів: кількість вимірів у яких буде відбуватися кластеризація (вихідний результат в будь якому разі буде проектуватися в двовимірний простір). Параметр є обов'язковим.</li>
        <li i18n>Алгоритм проекції: тип алгоритму проекції даних (зменшення розмірності). За допомогою якого алгоритму буде відбуватись відображення кінцевого результату кластеризації. У випадку вибраного виміру кластеризації не рівному 1536, кластеризація також буде відбуватися у спроектованому просторі даним алгоритмом. Параметр є обов'язковим.</li>
        <li i18n>Тип алгоритму: тип алгоритму кластеризації. Параметр є обов'язковим.</li>
        <li i18n>Область видимості: визначає, хто буде бачити профіль: всі, чи тільки його власник.</li>
        <li i18n>Область модифікації: визначає, хто може змінювати профіль: всі, чи тільки його власник.</li>
    </ul>

    <img src="https://clusterization.website/images/profiles/profiles_add_page.png" alt="The page of creating profile">
    <p class="center" i18n>Сторінка додавання профілю</p>
</section>