<section>
    <form [formGroup]="algorithmForm" (ngSubmit)="submit()">
        <div>
            <div class="input-cont">
                <span class="material-symbols-outlined icon" translate="no" i18n-matTooltip matTooltip="Кількість кластерів">123</span>
                <input type="number" minlength="1" i18n-placeholder placeholder="Кількість кластерів *" formControlName="numClusters" id="numClusters">
            </div>
            <div class="errors" *ngIf="numClusters.invalid && (numClusters.touched)">
                <p *ngIf="numClusters.errors?.['required']" class="error" i18n>Кількість кластерів не може бути пустою</p>
                <p *ngIf="numClusters.errors?.['minlength']" class="error" i18n>Мінімальна кількість - 1</p>
            </div>
        </div>
        <div>
            <div class="input-cont">
                <span class="material-symbols-outlined icon" translate="no" i18n-matTooltip matTooltip="Gamma">123</span>
                <input type="number" minlength="0" i18n-placeholder placeholder="Gamma *" formControlName="gamma" id="gamma">
            </div>
            <div class="errors" *ngIf="gamma.invalid && (gamma.touched)">
                <p *ngIf="gamma.errors?.['required']" class="error" i18n>Gamma не може бути пустим</p>
            </div>
        </div>
        <div class="centered">
            <app-loader *ngIf="isLoading"></app-loader>
            <button class="standard-btn" type="submit" *ngIf="!isLoading" i18n>Додати</button>
        </div>
    </form>
</section>