<section>
    <div class="nav-menu" [@popUpAnimation]="isMenuOpenAnimation?'in':'hidden'">
        <div [class.noDisplay]="!isMenuOpen" class="main-nav-cont">
            <ul>
                <li class="child-element-cont" routerLink="customers">
                    <a routerLinkActive="active" i18n>Користувачі</a>
                </li>
                <li class="child-element-cont" routerLink="telegram">
                    <a routerLinkActive="active" i18n>Telegram</a>
                </li>
            </ul>
        </div>
        <div class="arrow-cont" (click)="toggleMenu()">
            <span class="material-symbols-outlined icon" translate="no" *ngIf="!isMenuOpen">arrow_forward_ios</span>
            <span class="material-symbols-outlined icon" translate="no" *ngIf="isMenuOpen">arrow_back_ios</span>
        </div>
    </div>
    <div class="main-cont">
        <router-outlet></router-outlet>
    </div>
</section>