<div class="input-cont select" (clickOutside)="close()" [class.disable]="!isActive">
  <span class="material-symbols-outlined icon" translate="no" [matTooltip]="matTooltipForIcon"
    (click)="toggleSelectWithoutEvent()">category</span>
  <div class="custom-select">
    <div class="selected-option" (click)="toggleSelectWithoutEvent()">
      <span>{{ selectedOption==null?'':selectedOption.description }}</span>
      <span class="material-symbols-outlined icon" translate="no" *ngIf="!isOpen">expand_more</span>
      <span class="material-symbols-outlined icon" translate="no" *ngIf="isOpen">expand_less</span>
    </div>
    <div class="option-list" *ngIf="isOpen" (click)="toggleSelect($event)">
      <div *ngFor="let option of options" class="option" (click)="selectOption($event,option)">
        <span>{{ option.description==null?'':option.description }}</span>
      </div>
      <div *ngIf="isMoreActive" class="option centered" (click)="loadMore($event)">
        <span i18n *ngIf="!isMoreLoading">Завантажити більше</span>
        <app-loader *ngIf="isMoreLoading"></app-loader>
      </div>
    </div>
  </div>
</div>