@import '/src/app/core/styles/colors.scss';
nav{
    position: fixed;
    
    margin: 0;
    padding: 0;
    
    z-index: 200;

    background-color: $second-color-1;

    width: 100%;
    
    padding: 5px 10px;

    box-shadow: 0 0 10px 0.5px $first-color-2;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        display: flex;

        li{
            user-select: none;
            cursor: pointer;
            color: $first-color-3;
            padding: 10px;

            font-weight: bold;

            &:hover{
                color: $first-color-1;
            }
        }
    }
}