<header>
    <nav>
        <ul>
            <li routerLink="/channel-list">Канали</li>
            <li routerLink="/video-list">Відео</li>
            <li [routerLink]="[{outlets: {overflow: 'load-channel'}}]">Завантажити канали</li>
            <li routerLink="/tasks-list">Задачі</li>
            <li [routerLink]="[{outlets: {overflow: 'workspaces_add'}}]">Додати робочий простір</li>
            <li routerLink="/workspaces">Робочі простори</li>
            <li [routerLink]="[{outlets: {overflow: 'algorithms/add'}}]">Додати алгоритм</li>
        </ul>
    </nav>
</header>