<header>
    <nav class="standard" *ngIf="!isPhoneMenuOpen">
        <div>
            <ul>
                <li routerLink="/documentation" i18n>Документація</li>
                <li routerLink="/channel-list" i18n>Канали</li>
                <li routerLink="/video-list" i18n>Відео</li>
                <li (click)="openLoadChannel($event)" i18n>Завантажити канали</li>
                <li routerLink="/workspaces" i18n>Робочі простори</li>
                <li routerLink="/admin-panel" i18n *ngIf="accountService.isAuthenticated() && accountService.isUserModerator()">Панель адміністратора</li>
                <li (click)="openAddAlgorithm($event)" i18n>Додати алгоритм</li>
            </ul>
        </div>
        <div>
            <ul>
                <li *ngIf="!accountService.isAuthenticated()" (click)="openSignUp($event)" i18n>Реєстрація</li>
                <li *ngIf="accountService.isAuthenticated()" routerLink="/customer-details" i18n>Акаунт</li>
                <li>
                    <a *ngIf="!accountService.isAuthenticated()" (click)="openLogIn($event)" class="auth" i18n>Увійти</a>
                    <a *ngIf="accountService.isAuthenticated()" (click)="logout()" class="unSelect auth" i18n>Вийти</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="phone-menu" *ngIf="isPhoneMenuOpen">
        <div class="main-cont" *ngIf="isDisplayPhoneMenu" [@popUpAnimation]="animationState">
            <div class="close-cont" (click)="closeDisplayPhoneMenu()">
                <span class="material-symbols-outlined icon" translate="no">close</span>
            </div>
            <div class="options-cont" (click)="closeDisplayPhoneMenu()">
                <ul>
                    
                    <li routerLink="/channel-list" i18n>Канали</li>
                    <li routerLink="/video-list" i18n>Відео</li>
                    <li (click)="openLoadChannel($event)" i18n>Завантажити канали</li>
                    <li routerLink="/workspaces" i18n>Робочі простори</li>
                    <li (click)="openAddAlgorithm($event)" i18n>Додати алгоритм</li>
                    <li routerLink="/documentation" i18n>Документація</li>
                    <li (click)="openSignUp($event)" i18n>Реєстрація</li>
                    <li>
                        <a *ngIf="!accountService.isAuthenticated()" (click)="openLogIn($event)" class="auth" i18n>Увійти</a>
                        <a *ngIf="accountService.isAuthenticated()" (click)="logout()" class="unSelect auth" i18n>Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
        <div (click)="openDisplayPhoneMenu()" class="menu-btn">
            <span class="material-symbols-outlined icon" translate="no">menu_open</span>
        </div>
    </nav>
</header>