<section class="overflow-cont middle-overflow-cont overflow-cont-open">
    <div class="main-cont">
        <div class="top-cont">
            <div>
                <span class="material-symbols-outlined icon warn-icon" translate="no">warning</span>
            </div>
            <div>
                <h2 i18n>Кількість використаних квот</h2>
                <app-quotas-calculation-list [quotascalculationList]="quotasCalculation"></app-quotas-calculation-list>
            </div>
        </div>
        <div class="buttons-cont">
            <button class="inverted-btn" type="submit" (click)="this.confirmEvent.emit(false)" i18n>Відхілити</button>
            <button class="standard-btn" type="submit" (click)="this.confirmEvent.emit(true)" i18n>Продовжити</button>
        </div>
    </div>
</section>