@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

.overflow-cont {
    background-color: argb($second-color-2, 0.5);
    align-items: center;

    .main-cont {
        border-top: 10px solid $first-color-1;

        h2 {
            color: $first-color-1;
            margin: 0;
            text-align: center;
            font-size: 1.5em;
        }

        p {
            color: $first-color-1;
        }

        .top-cont{
            display: flex;
            gap: 5px;

            .warn-icon{
                font-size: 36px;
                color: $first-color-1;
            }
        }
        .buttons-cont{
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}