@import '/src/app/core/styles/base.scss';
.icon{
    color: $first-color-2;
    
    user-select: none;
    cursor: pointer;
}
.top-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .resize-cont{
        display: flex;
        gap: 10px;
    }
}