@import '../../../../core/styles/colors.scss',
'../../../../core/styles/base.scss';

section {
    display: flex;
    background-color: $second-color-2;
    gap: 20px;

    .nav-menu {
        flex: 2;
        max-height: 100vh;
        overflow-y: auto;
        .main-nav-cont {
            padding-top: 30px;
            height: fit-content;
        }


        .child-element-cont,
        .parent-element-cont {
            cursor: pointer;

            color: $first-color-3;
            padding: 10px;

            &:hover {
                background-color: $second-color-1;
            }
        }

        .parent-element-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                color: $first-color-3;
                user-select: none;
                cursor: pointer;
            }
        }

        a {
            width: 100%;
            text-decoration: none;
            color: $first-color-3;
        }

        a.active {
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .ul-l2 {
            margin-left: 10px;
        }

        .ul-l3 {
            margin-left: 10px;
        }

        .closed {
            >* {
                display: none;
            }
        }
    }

    .main-cont {
        flex: 5;
        padding: 10px;
        padding-top: 50px;
    }
}

.noDisplay {
    display: none;
}

.arrow-cont {
    display: none;
}

@media screen and (max-width: 800px) {
    section {
        .nav-menu {
            display: flex;

            .main-nav-cont {
                padding: 10px;
                padding-top: 100px;
                background-color: $second-color-1;
                min-height: 100vh;
                height: fit-content;
                width: 300px;
            }

            position: fixed;
            top: 0;
            left: 0;

            .arrow-cont {
                display: flex;
                height: fit-content;

                padding: 10px;
                margin-top: 100px;

                user-select: none;
                cursor: pointer;
                color: $first-color-3;

                background-color: $first-color-0;

                border-radius: 8px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .icon {
                    position: relative;
                    left: 2px;
                }

                &:hover {
                    color: $first-color-1;
                }
            }
        }
    }
}

@media screen and (max-width: 651px) {
    section {
        .nav-menu {
            .arrow-cont {
                margin-top: 60px;
            }
        }
    }
}