<section>
    <h1 i18n>Завантаження кількох повідомлень</h1>
    <p i18n>Завантаження одного або кількох повідомлень відбувається на відповідній секції яка знаходиться на детальній сторінці каналу</p>
    <p i18n>У секції завантажується деяка кількість повідомлень з відповідного каналу, які відображаються користувачеві. Можливий вибір, за яким критерієм вони відсортовані: "Спочатку новіші" або "Спочатку популярніші". Також можливий пошук за назвою. Якщо кількість завантажених відео недостатня, можливе більше їх завантаження у самому низу списку повідомлень, натиснувши на відповідну кнопку</p>
    <p i18n>Після цього користувач може вибрати одне або кілька повідомлень (назва вже завантажених повідомлень підсвічується червоним, та їх вибрати неможливо). Та натиснути кнопку для завантаження. Це створить спеціальну фонову задачу, та відповідні повідомленя будуть завантажені</p>
    <img src="" alt="The image of loading telegram messages by usernames">
    <p class="center" i18n>Сторінка завантаження кількох повідомлень</p>
</section>