<section>
    <h1 i18n>Ютуб канал</h1>
    <div class="all-cont">
        <div class="info-cont">
            <div class="image-cont">
                <img *ngIf="video!=null" [src]="video.videoImageUrl" alt="video image url">
            </div>
            <div class="text-info-cont" *ngIf="video!=null">
                <h4 class="title-text">{{video.title}}</h4>
                <div class="block" (click)="copyToClipboard(dateStr,video.publishedAtDateTimeOffset+'',$event)">
                    <span i18n-matTooltip matTooltip="Дата створення" class="material-symbols-outlined icon" translate="no">add_circle</span>
                    <p *ngIf="video!=null">{{video.publishedAtDateTimeOffset | normalizedDateTime}}</p>
                </div>
                <div class="block" (click)="copyToClipboard(dateStr,video.loadedDate+'',$event)">
                    <span i18n-matTooltip matTooltip="Дата останнього завантаження" class="material-symbols-outlined icon" translate="no">download_for_offline</span>
                    <p *ngIf="video!=null">{{video.loadedDate | normalizedDateTime}}</p>
                </div>
                <div class="block" (click)="copyToClipboard(countStr,video.likeCount+'',$event)">
                    <span i18n-matTooltip matTooltip="Кількість вподобайок" class="material-symbols-outlined icon" translate="no">thumb_up</span>
                    <p>{{video.likeCount}}</p>
                </div>
                <div class="block" (click)="copyToClipboard(countStr,video.viewCount+'',$event)">
                    <span i18n-matTooltip matTooltip="Кількість переглядів" class="material-symbols-outlined icon" translate="no">preview</span>
                    <p>{{video.viewCount}}</p>
                </div>
                <div class="block">
                    <span matTooltip="Кількість коментарів" class="material-symbols-outlined icon" translate="no">chat</span>
                    <p i18n-matTooltip matTooltip="Загальна кількість коментарів" class="normal-color-text">{{video.commentCount}}</p>
                    <span> / </span>
                    <p i18n-matTooltip matTooltip="Кількість завантажених коментарів в систему" class="first-color-text">{{video.loadedCommentCount}}</p>
                </div>
            </div>
        </div>
        <div class="main-cont">
            <div class="nav-cont">
                <ul class="ul-list-navigation">
                    <li routerLinkActive="active" i18n>Статистика</li>
                </ul>
                <app-more-action-select [actions]="actions"></app-more-action-select>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>