<section>
    <div class="nav-menu" [@popUpAnimation]="isMenuOpenAnimation?'in':'hidden'">
        <div [class.noDisplay]="!isMenuOpen" class="main-nav-cont">
            <ul>
                <li class="child-element-cont" routerLink="personal-info">
                    <a routerLinkActive="active" i18n>Персональна інформація</a>
                </li>
                <li class="child-element-cont" routerLink="quotas">
                    <a routerLinkActive="active" i18n>Квоти</a>
                </li>
                <li class="child-element-cont" routerLink="tasks">
                    <a routerLinkActive="active" i18n>Завдання</a>
                </li>
                <li class="child-element-cont" routerLink="workspaces">
                    <a routerLinkActive="active" i18n>Робочі простори</a>
                </li>
                <li class="child-element-cont" routerLink="profiles">
                    <a routerLinkActive="active" i18n>Профілі кластеризації</a>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('data-sources')">
                        <a routerLinkActive="active" routerLink="data-sources" i18n>Джерела даних</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['data-sources']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['data-sources']">expand_less</span>
                    </div>

                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['data-sources']">
                        <li class="child-element-cont" routerLink="data-sources/telegram">
                            <a routerLinkActive="active">Telegram</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="arrow-cont" (click)="toggleMenu()">
            <span class="material-symbols-outlined icon" translate="no" *ngIf="!isMenuOpen">arrow_forward_ios</span>
            <span class="material-symbols-outlined icon" translate="no" *ngIf="isMenuOpen">arrow_back_ios</span>
        </div>
    </div>
    <div class="main-cont">
        <router-outlet></router-outlet>
    </div>
</section>