<section>
    <h1 i18n>Пакети зовнішніх даних</h1>
    <p i18n>Пакети зовнішніх даних об'єднують у собі зовнішні дані, фактично це масив тексту. Користувач може завантажувати зовнішні дані у два способи: у робочих просторах та в відповідній частині веб-додатка</p>
    <p i18n>При завантажені у робочому просторі користувач не може так зручно налаштовувати всі властивості пакета даних, але це в деяких випадках зручніше. При створені пакета даних у робочому просторі, створюється сам пакет даних, який може змінювати та переглядати тільки власник. А текстові дані всередині пакета відразу додаються до робочого простору</p>
    <p i18n>При завантаженні у модулі "Зовнішні дані", користувач може вибирати назву та опис пакета, також стає можливим вибрати область видимості та область модифікації</p>
    <p i18n>Після завантаження пакета даних користувач може додати його до активного робочого простору із типом "From file"</p>
</section>