<section>
    <h1 i18n>Завантаження багатьох повідомлень</h1>
    <p i18n>Завантаження одного або багатьох повідомлень відбувається на відповідній секції відкрити яку можна в додаткових функціях взаємодії каналу</p>
    <img src="" alt="The image of additional messages`s actions">
    <p class="center" i18n>Зображення як відкрити сторінку завантаження багатьох повідомлень</p>

    <p i18n>На сторінці для завантаження необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата до: дата до якої завантажуються повідомленя. Не є обов'язковим</li>
        <li i18n>Кількість повідомлень: максимальна кількість повідомлень, які можуть бути завантаженні. Є обов'язковим</li>
    </ul>
    <p i18n>Після цього користувач повинен натиснути відповідну кнопку завантаження та натиснути кнопку для завантаження. Це створить спеціальну фонову задачу, та повідомленя по даним критеріям будуть завантажені</p>
    <img src="" alt="The image of loading many telegram messages">
    <p class="center" i18n>Сторінка завантаження багатьох повідомлень</p>
</section>