<section>
    <div class="centered" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="list-cont">
        @for (logs of logsCollection; track $index) {
            <app-quotas-pack-logs-card [logs]="logs"></app-quotas-pack-logs-card>
        }@empty {
            <div class="centered" *ngIf="!isLoading && !isLoading2">
                <p class="nothing-text" i18n>Логів не знайдено</p>
            </div>
        }
    </div>

    <div class="centered" *ngIf="isLoading2">
        <app-loader></app-loader>
    </div>
    <div class="centered" *ngIf="isLoadMoreAvailable && !isLoading && !isLoading2">
        <button class="more-btn" (click)="loadMore()" i18n>Завантажити більше</button>
    </div>
</section>