<section>
    <h1 i18n>Завантаження відповідей із повідомлення</h1>
    <p i18n>Кнопка для відкривання сторінки завантаження відповідей із повідомлення знаходиться у додаткових функціях повідомлення</p>
    <img src="" alt="The image of how to open the page of loading replies from messages">
    <p class="center" i18n>Зображення як відкрити сторінку завантаження відповідей із повідомлення</p>

    <p i18n>На сторінці для завантаження необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата до: дата до якої завантажуються відповіді. Не є обов'язковим</li>
        <li i18n>Максимальна кількість: максимальна кількість відповідей, які можуть бути завантаженні. Є обов'язковим</li>
    </ul>
    <p i18n>Після цього користувач повинен натиснути відповідну кнопку завантаження. Це створить спеціальну фонову задачу, та відповіді по даним критеріям будуть завантажені</p>
    <img src="" alt="The image of loading many telegram replies from message">
    <p class="center" i18n>Сторінка завантаження багатьох відповідей</p>
</section>