<section>
    <h1 i18n>Відображення</h1>

    <h2 i18n>Картка профілю у списку</h2>
    <p i18n>У списку на сторінці робочого простору відображаються картка профілю. У ній знаходиться основна інформація про профіль, включаючи вибраний алгоритм кластеризації, кількість вимірів, алгоритм зменшення розмірності, область видимості та область модифікації.</p>

    <img src="https://clusterization.website/images/profiles/profiles_card.png" alt="The profile`s card">
    <p class="center" i18n>Картка профілю</p>

    <h2 i18n>Сторінка профілю</h2>
    <p i18n>На сторінці профілю знаходиться вся основна інформація про нього. Також, користувач може переглядати результати кластеризації (детальніше у розділі візуалізації кластеризації та карти точок). Також, у додатковому функціоналі знаходиться кнопка кластеризації.</p>

    <img src="https://clusterization.website/images/profiles/profiles_full_page.png" alt="The profile`s main page">
    <p class="center" i18n>Сторінка профілю</p>
</section>