<section>
    <h1 i18n>Додавання даних</h1>

    <h2 i18n>Тип "Youtube Comments"</h2>
    <p i18n>При вибраному типі "Youtube Comments" додавання даних відбувається з платформи Youtube (детальніше описано у відповідному розділі).</p>
    <p i18n>Після завантаження коментарів з платформи Youtube, стає можливим додавання їх у робочий простір. Для початку його необхідно вибрати, натиснувши відповідну кнопку в додатковому функціоналі робочого простору на основній його сторінці. При цьому вибраний робочий простір у списку буде підсвічуватися червоним кольором. Додавання можливе у кілька етапів</p>
    
    <p i18n>Для додавання коментарів існує два підходи: додавати їх зі всіх відео через канал, чи вибравши одне або кілька. Всі додавання реалізовані через головну сторінку каналу в додатковому функціоналі</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_how_to_open_add_comments_page.png" alt="How to add Youtube comments to workspace">
    <p class="center" i18n>Зображення, як додати коментарі до робочого простору</p>

    <h3 i18n>Додавання коментарів із всього каналу</h3>
    <p i18n>Для додавання коментарів зі всього каналу необхідно вибрати відповідну функцію в додатковому функціоналі каналу. Після цього відкриється сторінка додавання коментарів</p>
    <p i18n>На сторінці необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата від: дата від якої додаються коментарі. Не є обов'язковим</li>
        <li i18n>Дата до: дата до якої додаються коментарі. Не є обов'язковим</li>
        <li i18n>Максимальна кількість: максимальна кількість коментарів, які можуть бути додані. Є обов'язковим</li>
        <li i18n>Вибір між двох параметрів: додати за датою відео або додати за датою коментарів. Це визначає по якій з дат будуть додані коментарі</li>
    </ul>
    <p i18n>Після натискання відповідної кнопки створиться фонове завдання та коментарі із відповідними параметрами будуть додані до вибраного робочого простору</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_add_comments_page.png" alt="Adding comments from channel to workspace">
    <p class="center" i18n>Зображення, як додати коментарі до робочого простору з каналу</p>


    <h3 i18n>Додавання коментарів із певних відео</h3>
    <p i18n>Для додавання коментарів зі певних відео каналу необхідно вибрати відповідну функцію в додатковому функціоналі каналу. Після цього відкриється сторінка додавання коментарів</p>
    <p i18n>На сторінці необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата від: дата від якої додаються коментарі. Не є обов'язковим</li>
        <li i18n>Дата до: дата до якої додаються коментарі. Не є обов'язковим</li>
        <li i18n>Максимальна кількість (у відео): максимальна кількість коментарів, які можуть бути додані з одного відер. Є обов'язковим</li>
        <li i18n>Також, необхідно вибрати відео із списку, які будуть завантажені</li>
    </ul>
    <p i18n>Після натискання відповідної кнопки створиться фонове завдання та коментарі із відповідними параметрами будуть додані до вибраного робочого простору</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_adding_page_videos" alt="Adding comments from channel videos to workspace">
    <p class="center" i18n>Зображення, як додати коментарі до робочого простору з багатьох відео</p>
</section>