<section>
    <h1 i18n>Завантаження каналів за назвою</h1>
    <p i18n>Для початку необхідно ввести назву. Після натискання enter або кнопки пошуку відбувається пошук певної кількості каналів
        використовуючи вбудовані інструменти платформи Telegram. Після вибору каналів необхідно натиснути
        кнопку завантаження та вибрані канали завантажаться</p>
    <img src="" alt="The page of loading telegram channels by name">
    <p class="center" i18n>Сторінка завантаження каналів за назвою</p>
</section>