<section>
    <h1 i18n>Пакети додавання даних</h1>
    <p i18n>Для зручної взаємодії з доданими текстовими даними до робочого простору було імплементовано пакети додавання даних</p>
    <p i18n>При додавання даних створюється пакет додавання даних. Список всіх доданих пакетів можна побачити на головній сторнці робочого простору у відповідній секції</p>
    <p i18n>Кожен пакет даних містить додатковий функціонал взаємодії, такий як видалення та завантаження ебмедингів. При видалинні дані пакета даних видаляються із робочого простору, але сам пакет залишається, лише змінюючи стан на видалений. При необхідності пакет даних можна відновити та всі текстові об'єкти будуть автоматично відновлені у робочому просторі</p>
    <p i18n>Також можливе завантаження ембедингів із вибором певної моделі. Якщо натиснути на пакет даних, можна побачити детальні даних, серед яких статус завантаження ембедингів для кожної моделі й відповідного покета даних</p>
</section>