@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

section {
    display: flex;
    align-items: center;
    justify-content: center;

    .main-cont{
        width: 500px;
        .btn-cont{
            display: flex;
            justify-content: center;
            
            a{
                text-decoration: none;
                columns: $first-color-1;
                cursor: pointer;
            }
        }
    }
}