<div class="cont">
    <div class="inputs-cont">
        <div class="input-cont search">
            <input type="text" [value]="value" (input)="changeValue($event)" (keydown.enter)="loadFirst()" i18n-placeholder placeholder="Шукати...">
            <span class="material-symbols-outlined icon" translate="no" (click)="loadFirst()">manage_search</span>
        </div>
    </div>

    <div class="scroll-cont">
        <div class="centered">
            <app-loader *ngIf="isLoading"></app-loader>
        </div>
        <app-telegram-channel-list [class.disable]="isLoading" [channels]="channels" (selectChannelEvent)="selectChannel($event)" (unselectChannelEvent)="unselectChannel($event)"></app-telegram-channel-list>
    </div>
    
    <p class="quotas-text" *ngIf="!isLoading && selectedChannels!=null && selectedChannels.length>0"><span i18n>Розрахована кількість використаних квот при завантаженні: </span>{{quotasCount*selectedChannels.length}}</p>
    <div class="centered">
        <button class="standard-btn" (click)="load()" *ngIf="!isLoading && selectedChannels!=null && selectedChannels.length>0">Завантажити на сервер</button>
    </div>
</div>