@import '/src/app/core/styles/base.scss';

canvas{
    width: 100%;
    overscroll-behavior: contain;
    background-color: $second-color-1;

    border: 5px solid $first-color-1;
    border-radius: 5px;
}