<section>
    <div class="mb-10">
        <app-workspace-search-filter (sendEvent)="changeFilter($event)"></app-workspace-search-filter>
    </div>
    <div class="centered" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="centered" *ngIf="!isLoading && (workspaces==null || workspaces.length==0)">
        <p class="nothing-text" i18n>Робочих просторів не знайдено</p>
    </div>
    <app-workspace-list [workspaces]="workspaces" [class.disable]="isLoading"></app-workspace-list>
    <div class="centered" *ngIf="isLoadMoreAvailable">
        <button class="more-btn" (click)="addMore()" i18n>Завантажити більше</button>
    </div>
</section>