<section>
    <h1 i18n>Відображення повідомлення</h1>
    <h2 i18n>Картка повідомлення у списку</h2>
    <p i18n>При перегляді повідомлення у списку кожен із них відображається у вигляді картки. На ній зображено: текст повідомлення,
        кількість ереглядів, завантажених відповідей в систему та інші дані. Також відображається дата завантаження відео. Більшість
        даних можна копіювати натиснувши на них. Якщо відео вже завантажено в систему, колір його назви червоний. У
        іншому випадку сірий</p>
    <img src="" alt="The Telegram messages`s card">
    <p class="center" i18n>Картка повідомленя</p>

    <h2 i18n>Детальна сторінка повідомленя</h2>
    <p i18n>Натиснувши на картку повідомленя можна попасти на основну сторінку. На ній зображається основна інформація про повідомленя та додаткові функції взаємодії</p>
    <img src="" alt="The Telegram messages`s page">
    <p class="center" i18n>Сторінка відео</p>


    <h2 i18n>Сторінка списку повідомлень в каналі</h2>
    <p i18n>На сторінці каналу відображаються завантажені повідомлення, їх можна переглядати, сортувати та шукати необхідні</p>
    <img src="" alt="The channel`s message list">
    <p class="center" i18n>Список відео каналу</p>

    <h2 i18n>Головний список повідомленнь</h2>
    <p i18n>Можливий перегляд усіх повідомленнь завантажених у систему, а не тільки тих, що належать до конкретного каналу. Користувач може сортувати повідомлення та шукати їх по назву. Реалізовано пагінацію, тому процес завантаження досить швидкий</p>
    <img src="" alt="The general message list">
    <p class="center" i18n>Головний список повідомленнь</p>
</section>