<section>
    <div class="centered" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <app-workspace-add-data-pack-list
        [class.disable]="isLoading"
        [packs]="packs"></app-workspace-add-data-pack-list>
    <div class="centered" *ngIf="isLoading2">
        <app-loader></app-loader>
    </div>
    <div class="centered mt-10" *ngIf="isLoadMoreAvailable && !isLoading && !isLoading2">
        <button class="more-btn" (click)="addMore()" i18n>Завантажити більше</button>
    </div>
</section>