<section class="overflow-cont" [class.open]="animationState=='in'">
    <div class="main-cont" [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="closeOverflow()">close</span>
        </div>
        <h1 i18n>Додати відповіді до робочого простору</h1>

        <form [formGroup]="optionsForm" (ngSubmit)="load()" class="options-cont">
            <div class="input-cont">
                <input id="dateFrom" type="date" i18n-matTooltip matTooltip="Дата від" matTooltipPosition="above" formControlName="dateFrom">
            </div>
            <div class="input-cont">
                <input id="dateTo" type="date" i18n-matTooltip matTooltip="Дата до" matTooltipPosition="above" formControlName="dateTo">
            </div>
            <div class="input-cont">
                <input id="maxCount" type="number" min="0" step="1" i18n-placeholder placeholder="Максимальна кількість*" formControlName="maxCount">
            </div>
            <div class="one-radio-conts">
                <div class="one-radio-cont">
                    <input type="radio" id="telegramDate1" name="telegramDate" [checked]="true" (change)="selectMessageDate($event)">
                    <label for="telegramDate1" i18n>Додавати за датою повідомлення</label>
                </div>
                <div class="one-radio-cont">
                    <input type="radio" id="telegramDate2" name="telegramDate" (change)="selectTelegramDate($event)">
                    <label for="telegramDate2" i18n>Додавати за датою відповіді</label>
                </div>
            </div>
            <div class="centered">
                <button class="standard-btn" type="submit" *ngIf="!isLoading" i18n>Додати</button>
            </div>
        </form>
        </div>
</section>