<div class="my-card" (click)="openFull($event)">
    <div class="top-cont">
        <p class="percent-text">{{task.percent.toFixed(1)}}%</p>
        <p class="title-text" [class.error-text]="task.stateId=='Error'">{{task.title}}</p>
    </div>
    <div class="progress-bar-cont">
        <div class="progress-bar" [style.width.%]="task.percent"
                                  [class.complete]="task.stateId=='Completed'"
                                  [class.error]="task.stateId=='Error'"
                                  [class.normal]="task.stateId!='Error'">

        </div>
    </div>
</div>