<section>
    <h1 i18n>Завантаження каналів за назвою</h1>
    <p i18n>Для початку необхідно ввести назву та вибрати один з двох варіантів сортування: за популярністю або часом
        завантаження. Після натискання enter або кнопки пошуку відбувається пошук певної кількості каналів
        використовуючи вбудовані інструменти платформи Youtube. Пошук відбувається з використанням пагінації, тому якщо
        кількість знайдених каналів велика, вони підвантажуються не всі. У цьому випадку підвантажити наступну групу
        можна нажавши відповідну кнопку в кінці списку каналів. Після цього можна вибрати бажані канали (вже
        завантажені канали підсвічуються червоним та їх вибрати не можна). Після вибору каналів необхідно натиснути
        кнопку завантаження та вибрані канали завантажаться.</p>
    <img src="https://clusterization.website/images/youtube/channels/load_channels_by_name_page.png" alt="The page of loading channels by name">
    <p class="center" i18n>Сторінка завантаження каналів за назвою</p>
</section>