@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

section {
    padding-top: 100px;
    padding-bottom: 50px;

    .main-cont {
        min-height: 70vh;

        h1 {
            margin-bottom: 20px;
        }

        .blocks-cont {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .block {
                display: flex;
                cursor: pointer;
                gap: 5px;

                width: fit-content;
                color: $first-color-2;

                .icon {
                    color: $first-color-2;
                }

                .first-color-text {
                    color: $first-color-1;
                }

                .delete-icon {
                    color: $warn-1;
                }

                p {
                    height: fit-content;
                }
            }
        }

        .states-cont {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}
h2 {
    color: $first-color-3;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}

.open {
    opacity: 1;
}

.centered {
    display: flex;
    justify-content: center;
}

.one-radio-conts {
    margin-top: 10px;
}

.disabled-btn {
    background-color: $warn-1;
    cursor: no-drop;
}