<section>
    <h1 i18n>Основне</h1>
    <p i18n>Для завантаження повідомлень необхідно авторизуватися та підтвердити пошту. На сервер завантажується детальна інформація про повідомлення, включаючи кількість завантажених відповідей (на платформі Telegram), переглядів та інша статистика. Завантажується тільки інформація та статистика повідомлення, завантажувати зображення немає необхідності</p>
    <p i18n>Існує два види завантаження повідомлень: через вибір одного або кількох повідомлень, або автоматичне завантаження певної кількості повідомлень із часової межі</p>
    <p i18n>На відміну відео з платформи Youtube, повідомлення можуть бути використані при кластеризації</p>
</section>