.cont{
    display: flex;
    gap: 10px;
    
    app-search-input{
        flex: 2;
    }
    app-select-option-input{
        flex: 1;
    }
}

@media screen and (max-width: 1350px) {
    .cont{
        app-search-input{
            flex: 1;
        }
        app-select-option-input{
            flex: 1;
        }
    }
}
@media screen and (max-width: 960px) {
    .cont{
        flex-direction: column;
    }
}