<section>
    <h1 i18n>Основне</h1>
    <p i18n>Для найбільшої гнучкості користувач має змогу вибирати модель векторної візуалізації тексту. Кожна модель має свої якості, ціну квот та розмір вихідних ембедингів</p>
    <p i18n>На даний момент інтегровано три моделі: text-embedding-ada-002, text-embedding-3-small та text-embedding-3-large</p>

    <h2 class="center" i18n>Характеристики моделів</h2>
    <table>
        <tr>
            <th></th>
            <th>text-embedding-ada-002</th>
            <th>text-embedding-3-small</th>
            <th>text-embedding-3-large</th>
        </tr>
        <tr>
            <td i18n>Вихідний вимір ембединга</td>
            <td>1536</td>
            <td>1536</td>
            <td>3072</td>
        </tr>
        <tr>
            <td i18n>Кількість використаних квот за один елемент</td>
            <td>5</td>
            <td>1</td>
            <td>8</td>
        </tr>
        <tr>
            <td i18n>Максимальна кількість вхідних знаків</td>
            <td>4000</td>
            <td>4000</td>
            <td>4000</td>
        </tr>
    </table>
</section>