<section class="overflow-cont small-overflow-cont" [class.overflow-cont-open]="animationState=='in'">
    <form [formGroup]="signUpForm"
    (ngSubmit)="logIn()"
    (clickOutside)="close($event)"
    appDynamicWidth class="main-cont"
    [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="close($event)">close</span>
        </div>
        <h1 class="text-orange" i18n>Реєстрація</h1>
        <div class="inputs-cont">
            <div class="w-100">
                <div class="input-cont">
                    <input id="userName" type="text" formControlName="userName"
                    i18n-placeholder placeholder="Ім'я користувача">
                </div>
                <div *ngIf="userName.invalid && (userName.touched)" class="error-cont">
                    <p *ngIf="userName.errors?.['required']" class="error" i18n>Ім'я користувача не має бути пустим</p>
                    <p *ngIf="userName.errors?.['required']" class="error" i18n>Мінімальна кількість символів - 3</p>
                    <p *ngIf="userName.errors?.['maxlength']" class="error" i18n>Максимальна кількість символів - 100
                    </p>
                </div>
            </div>
            <div class="w-100">
                <div class="input-cont">
                    <input id="email" type="email" formControlName="email" i18n-placeholder placeholder="Електронна пошта">
                </div>
                <div *ngIf="email.invalid && (email.touched)" class="error-cont">
                    <p *ngIf="email.errors?.['required']" class="error" i18n>Електронна пошта повинна бути заповнена</p>
                    <p *ngIf="email.errors?.['maxlength']" class="error" i18n>Максимальна кількість знаків - 1000</p>
                </div>
            </div>
            <div class="w-100">
                <div class="input-cont password-cont">
                    <div class="password-input">
                        <input *ngIf="!isPassVisible" id="password" type="password" userCapture formControlName="password" i18n-placeholder placeholder="Пароль">
                        <input *ngIf="isPassVisible" id="password" type="text" userCapture formControlName="password" i18n-placeholder placeholder="Пароль">
                    </div>
                    <i *ngIf="isPassVisible" class="material-icons icon" translate="no" (click)="eyeClick($event)">visibility_off</i>
                    <i *ngIf="!isPassVisible" class="material-icons icon" translate="no" (click)="eyeClick($event)">visibility</i>
                </div>
                <div *ngIf="password.invalid && (password.touched)" class="error-cont">
                    <p *ngIf="password.errors?.['required']" class="error" i18n>Пароль повинен бути заповненим</p>
                    <p *ngIf="password.errors?.['minlength']" class="error" i18n>Мінімальна кількість символів - 8</p>
                </div>
            </div>
        </div>
        <p class="global-error" *ngIf="errorMsg!=null && errorMsg!=''">{{errorMsg}}</p>
        <div class="centered">
            <app-loader *ngIf="isLoading"></app-loader>
            <button type="submit" class="standard-btn" *ngIf="!isLoading" i18n>Почати...</button>
        </div>
        <div class="btn-cont">
            <p class="mb-0 mt-10"><span i18n>Вже є обліковий запис? </span> <a class="link text-red-4" (click)="openLogIn($event)" i18n>Увійди</a></p>
        </div>
    </form>
</section>