<section>
    <form [formGroup]="algorithmForm" (ngSubmit)="submit()">
        <div>
            <div class="input-cont">
                <input type="color" i18n-placeholder placeholder="Колір кластера" formControlName="clusterColor" id="clusterColor">
                <span class="material-symbols-outlined icon" translate="no">palette</span>
            </div>
            <div class="errors" *ngIf="clusterColor.invalid && (clusterColor.touched)">
                <p *ngIf="clusterColor.errors?.['required']" class="error" i18n>Колір кластера обов'язковий</p>
            </div>
        </div>
        <div class="centered">
            <app-loader *ngIf="isLoading"></app-loader>
            <button class="standard-btn" type="submit" *ngIf="!isLoading" i18n>Додати</button>
        </div>
    </form>
</section>