<section>
    <h1 i18n>Завантаження каналу за id</h1>
    <p i18n>У кожного каналу Youtube є ідентифікатор (id). Саме за ним відбувається завантаження. Для початку потрібно ввести
        код у відповідне поле та натиснути кнопку "додати". Якщо канал з таким id існує, він буде завантажений та
        доданий до списку каналів. Після успішного завантаження з'явиться відповідне повідомлення</p>
    <img src="https://clusterization.website/images/youtube/channels/load_channel_by_id_page.png" alt="The page of loading channel by id">
    <p class="center" i18n>Сторінка завантаження каналу за id</p>
</section>