<section>
    <h1 i18n>Основне</h1>
    <p i18n>Всі авторизовані користувачі із підтвердженою поштою можуть завантажувати відео. На сервер завантажується детальна інформація про відео, включаючи кількість коментарів (на платформі Youtube), переглядів та інша статистика. Завантажується тільки інформація та статистика відео, завантажувати відеоряд немає необхідності</p>
    <p i18n>Існує два види завантаження відео: через вибір одного або кількох відео, або автоматичне завантаження певної кількості відео із часової межі</p>
</section>