<section>
    <h1 i18n>Основне</h1>
    <p i18n>Для завантаження каналів необхідно авторизуватися. Всі авторизовані користувачі з підтвердженою поштою можуть завантажувати канали. На сервер завантажується детальна інформація про канал, включаючи кількість учасників, username та інша статистика</p>
    <p i18n>Сторінку завантаження каналів можна відкрити у Telegram header сайту. Після цього доступно два види завантаження: за username каналу або після пошуку за назвою</p>
    <img src="" alt="Telegram Channels loading page">
    <p class="center" i18n>Сторінка завантаження каналів</p>
</section>