<section class="overflow-cont small-overflow-cont" [class.overflow-cont-open]="animationState=='in'">
    <div class="main-cont" [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="closeOverflow()">close</span>
        </div>
        <h1 i18n>Завантажити ембедингі</h1>
        <app-embedding-models-select [isNullAvailable]="false"
            (sendEvent)="selectEmbeddingModelId($event)"></app-embedding-models-select>
        <p class="quotas-text mt-10" *ngIf="!isLoading && this.embeddingModelId!=null"><span i18n>Розрахована кількість використаних квот: </span>{{quotasCount}}</p>
        <div class="centered ">
            <app-loader *ngIf="isLoading"></app-loader>
            <button class="standard-btn" type="submit" *ngIf="!isLoading" (click)="submit()" i18n>Почати</button>
        </div>
    </div>
</section>