@import '/src/app/core/styles/base.scss',
'/src/app/core/styles/cont-styles.scss';

section {
    padding-top: 50px;
    padding-bottom: 50px;

    align-items: center;
    .main-cont {
        h1{
            margin-bottom: 20px;
        }
    }
}
.mt-10{
    margin-top: 10px;
}
.quotas-text{
    color: $first-color-1;
    text-align: center;
    margin: 0;
}