<section class="overflow-cont" [class.open]="animationState=='in'">
    <div class="main-cont" [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="closeOverflow()">close</span>
        </div>
        <h1 i18n>Завантажити коментарі з каналу</h1>

        <form [formGroup]="optionsForm" (ngSubmit)="load()" class="options-cont">
            <div class="input-cont">
                <input id="dateFrom" type="date" i18n-matTooltip matTooltip="Дата від" matTooltipPosition="above" formControlName="dateFrom">
            </div>
            <div class="input-cont">
                <input id="dateTo" type="date" i18n-matTooltip matTooltip="Дата до" matTooltipPosition="above" formControlName="dateTo">
            </div>
            <div class="input-cont">
                <input id="maxLoad" type="number" min="0" step="1" i18n-placeholder placeholder="Максимальна кількість*" formControlName="maxLoad">
            </div>
            <div class="input-cont">
                <input id="maxLoadForOneVideo" type="number" min="0" step="1" i18n-placeholder placeholder="Максимальна кількість в одному відео*" formControlName="maxLoadForOneVideo">
            </div>
            <div class="one-radio-conts">
                <div class="one-radio-cont">
                    <input type="radio" id="youtubeDate1" name="youtubeDate" [checked]="true" (change)="selectVideoDate($event)">
                    <label for="youtubeDate1" i18n>Завантажувати за датою відео</label>
                </div>
                <div class="one-radio-cont">
                    <input type="radio" id="youtubeDate2" name="youtubeDate" (change)="selectYoutubeDate($event)">
                    <label for="youtubeDate2" i18n>Завантажувати за датою коментарів</label>
                </div>
            </div>
            <p class="quotas-text"><span i18n>Кількість квот які використаються за завантаження одного коментаря: </span>{{quotasCount}}</p>
            <div class="centered">
                <button class="standard-btn" type="submit" *ngIf="!isLoading" i18n>Завантажити</button>
            </div>
        </form>
        </div>
</section>