<section>
    <div class="mb-10">
        <app-clusterization-profile-search-filter (sendEvent)="changeFilter($event)"></app-clusterization-profile-search-filter>
    </div>
    <div class="centered" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="centered" *ngIf="!isLoading && (profiles==null || profiles.length==0)">
        <p class="nothing-text">Профілів не знайдено</p>
    </div>
    <app-clusterization-profile-list [profiles]="profiles" [class.disable]="isLoading"></app-clusterization-profile-list>
    <div class="centered" *ngIf="isLoading2">
        <app-loader></app-loader>
    </div>
    <div class="centered mt-10" *ngIf="isLoadMoreAvailable && !isLoading2">
        <button class="more-btn" (click)="addMore()">Завантажити більше</button>
    </div>
</section>