<section>
    <div class="nav-menu" [@popUpAnimation]="isMenuOpenAnimation?'in':'hidden'">
        <div [class.noDisplay]="!isMenuOpen" class="main-nav-cont">
            <ul class="ul-l1">
                <li class="child-element-cont" routerLink="main">
                    <a routerLinkActive="active" i18n>Основне</a>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('youtube')">
                        <a routerLinkActive="active" routerLink="youtube" i18n>Youtube</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['youtube']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['youtube']">expand_less</span>
                    </div>

                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['youtube']">
                        <li>
                            <div class="parent-element-cont" (click)="toggleSelect('youtube/channels')">
                                <a routerLinkActive="active" routerLink="youtube/channels" i18n>Канали</a>
                                <span class="material-symbols-outlined icon" translate="no"
                                    *ngIf="!this.states.SearchFor['youtube/channels']">expand_more</span>
                                <span class="material-symbols-outlined icon" translate="no"
                                    *ngIf="this.states.SearchFor['youtube/channels']">expand_less</span>
                            </div>
                            <ul class="ul-l3" [class.closed]="!this.states.SearchFor['youtube/channels']">
                                <li class="child-element-cont" routerLink="youtube/channels/main">
                                    <a routerLinkActive="active" i18n>Основне</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/channels/loading_by_id">
                                    <a routerLinkActive="active" i18n>Завантаження за id</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/channels/loading_by_name">
                                    <a routerLinkActive="active" i18n>Завантаження за назвою</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/channels/displaying">
                                    <a routerLinkActive="active" i18n>Відображення</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="parent-element-cont" (click)="toggleSelect('youtube/videos')">
                                <a routerLinkActive="active" routerLink="youtube/videos" i18n>Відео</a>
                                <span class="material-symbols-outlined icon" translate="no"
                                    *ngIf="!this.states.SearchFor['youtube/videos']">expand_more</span>
                                <span class="material-symbols-outlined icon" translate="no"
                                    *ngIf="this.states.SearchFor['youtube/videos']">expand_less</span>
                            </div>
                            <ul class="ul-l3" [class.closed]="!this.states.SearchFor['youtube/videos']">
                                <li class="child-element-cont" routerLink="youtube/videos/main">
                                    <a routerLinkActive="active" i18n>Основне</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/videos/loading_by_ids">
                                    <a routerLinkActive="active" i18n>Завантаження кількох за id</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/videos/loading_many">
                                    <a routerLinkActive="active" i18n>Завантаження багатьох</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/videos/displaying">
                                    <a routerLinkActive="active" i18n>Відображення</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="parent-element-cont" (click)="toggleSelect('youtube/comments')">
                                <a routerLinkActive="active" routerLink="youtube/comments" i18n>Коментарі</a>
                                <span class="material-symbols-outlined icon" translate="no"
                                    *ngIf="!this.states.SearchFor['youtube/comments']">expand_more</span>
                                <span class="material-symbols-outlined icon" translate="no"
                                    *ngIf="this.states.SearchFor['youtube/comments']">expand_less</span>
                            </div>
                            <ul class="ul-l3" [class.closed]="!this.states.SearchFor['youtube/comments']">
                                <li class="child-element-cont" routerLink="youtube/comments/main">
                                    <a routerLinkActive="active" i18n>Основне</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/comments/loading_by_video">
                                    <a routerLinkActive="active" i18n>Завантаження з відео</a>
                                </li>
                                <li class="child-element-cont" routerLink="youtube/comments/loading_by_channel">
                                    <a routerLinkActive="active" i18n>Завантаження з каналу</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('algorithms')">
                        <a routerLinkActive="active" routerLink="algorithms" i18n>Алгоритми</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['algorithms']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['algorithms']">expand_less</span>
                    </div>
                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['algorithms']">
                        <li class="child-element-cont" routerLink="algorithms/main">
                            <a routerLinkActive="active" i18n>Основне</a>
                        </li>
                        <li class="child-element-cont" routerLink="algorithms/one_cluster">
                            <a routerLinkActive="active" i18n>One cluster</a>
                        </li>
                        <li class="child-element-cont" routerLink="algorithms/k-means">
                            <a routerLinkActive="active" i18n>K-means</a>
                        </li>
                        <li class="child-element-cont" routerLink="algorithms/dbscan">
                            <a routerLinkActive="active" i18n>DBSCAN</a>
                        </li>
                        <li class="child-element-cont" routerLink="algorithms/gaussian_mixture">
                            <a routerLinkActive="active" i18n>Gaussian Mixture</a>
                        </li>
                        <li class="child-element-cont" routerLink="algorithms/spectral_clustering">
                            <a routerLinkActive="active" i18n>Spectral Clustering</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('workspaces')">
                        <a routerLinkActive="active" routerLink="workspaces" i18n>Робочі простори</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['workspaces']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['workspaces']">expand_less</span>
                    </div>
                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['workspaces']">
                        <li class="child-element-cont" routerLink="workspaces/main">
                            <a routerLinkActive="active" i18n>Основне</a>
                        </li>
                        <li class="child-element-cont" routerLink="workspaces/creation">
                            <a routerLinkActive="active" i18n>Створення</a>
                        </li>
                        <li class="child-element-cont" routerLink="workspaces/adding_data">
                            <a routerLinkActive="active" i18n>Додавання даних</a>
                        </li>
                        <li class="child-element-cont" routerLink="workspaces/loading_embeddings">
                            <a routerLinkActive="active" i18n>Завантаження ембедингів</a>
                        </li>
                        <li class="child-element-cont" routerLink="workspaces/displaying">
                            <a routerLinkActive="active" i18n>Відображеннях</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('embeddings')">
                        <a routerLinkActive="active" routerLink="embeddings" i18n>Ембедінги</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['embeddings']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['embeddings']">expand_less</span>
                    </div>
                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['embeddings']">
                        <li class="child-element-cont" routerLink="embeddings/main">
                            <a routerLinkActive="active" i18n>Основне</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('profiles')">
                        <a routerLinkActive="active" routerLink="profiles" i18n>Профілі</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['profiles']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['profiles']">expand_less</span>
                    </div>
                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['profiles']">
                        <li class="child-element-cont" routerLink="profiles/main">
                            <a routerLinkActive="active" i18n>Основне</a>
                        </li>
                        <li class="child-element-cont" routerLink="profiles/creation">
                            <a routerLinkActive="active" i18n>Створення</a>
                        </li>
                        <li class="child-element-cont" routerLink="profiles/clusterization">
                            <a routerLinkActive="active" i18n>Кластеризація</a>
                        </li>
                        <li class="child-element-cont" routerLink="profiles/displaying">
                            <a routerLinkActive="active" i18n>Відображеннях</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="parent-element-cont" (click)="toggleSelect('points-map')">
                        <a routerLinkActive="active" routerLink="points-map" i18n>Карта точок</a>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="!this.states.SearchFor['points-map']">expand_more</span>
                        <span class="material-symbols-outlined icon" translate="no"
                            *ngIf="this.states.SearchFor['points-map']">expand_less</span>
                    </div>
                    <ul class="ul-l2" [class.closed]="!this.states.SearchFor['points-map']">
                        <li class="child-element-cont" routerLink="points-map/main">
                            <a routerLinkActive="active" i18n>Основне</a>
                        </li>
                        <li class="child-element-cont" routerLink="points-map/dynamic_loading">
                            <a routerLinkActive="active" i18n>Динамічне підвантаження</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="arrow-cont" (click)="toggleMenu()">
            <span class="material-symbols-outlined icon" translate="no" *ngIf="!isMenuOpen">arrow_forward_ios</span>
            <span class="material-symbols-outlined icon" translate="no" *ngIf="isMenuOpen">arrow_back_ios</span>
        </div>
    </div>
    <div class="main-cont">
        <router-outlet></router-outlet>
    </div>
</section>