<section>
    <h1 i18n>Основне</h1>
    <p i18n>Карта точок відповідає за відображення кінцевих кластерів. В кожному профілі своя карта точок, причому вона стає доступна після першої кластеризації профілю. Кожна точка відповідає за свій текст (коментар або текст із зовнішніх даних). Точки одного кольору відносяться до одного кластеру. Завантаження точок відбувається динамічно.</p>
    <p i18n>Натиснувши на конкретну точку, висвітлюється її зміст.</p>

    <img src="https://clusterization.website/images/points-map/points.png" alt="The image of points-map">
    <p class="center" i18n>Зображення результату кластеризації.</p>
</section>