@import '/src/app/core/styles/base.scss';

section{
    padding: 50px;
}
h1{
    text-align: center;
    color: $first-color-2;
}

.centered{
    display: flex;
    justify-content: center;
}
.nothing-text{
    color: $first-color-1;
}