@import '/src/app/core/styles/base.scss';


.card-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
    padding: 5px;
    background-color: $second-color-1;
    border-radius: 8px;

    cursor: pointer;

    .circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .text-cont{
        display: flex;
        flex-direction: column;

        flex: 1;

        a{
            text-decoration: none;
            color: $first-color-3;
            cursor: pointer;

            &:hover{
                color: $first-color-1;
            }
        }
        .elements-count{
            font-size: 0.6em;
        }
    }
}

.selected{
    background-color: $selection-color;
}
.list-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: none;

    margin: 10px 0;
    margin-left: 10px;

    padding-right: 10px;
    padding-bottom: 10px;
}
.more-btn{
    padding: 0;
    margin: 0;
    outline: 0;
    padding: 5px 10px;
    
    background-color: $first-color-2;
    color: $second-color-1;

    font-weight: bold;
    font-size: 0.9em;

    border: 0;

    border-radius: 5px;

    &:hover{
        background-color: $first-color-3;
    }
    &:active{
        background-color: $first-color-4;
    }
}

.nothing-text{
    color: $first-color-1;
}