<div>
    <div class="card-cont">
        <div class="circle" [style.background-color]="cluster.color">
        </div>
        <div class="text-cont">
            <a class="title" *ngIf="cluster.name==undefined">Згенерувати назву</a>
            <p class="title" *ngIf="cluster.name!=undefined">{{cluster.name}}</p>
            <p class="elements-count">{{cluster.childElementsCount}}</p>
        </div>
        <span class="material-symbols-outlined icon" (click)="toggleOpen()" translate="no"
            *ngIf="!this.isOpen">expand_more</span>
        <span class="material-symbols-outlined icon" (click)="toggleOpen()" translate="no"
            *ngIf="this.isOpen">expand_less</span>
    </div>
    <div class="list-cont" *ngIf="isOpen">
        <div class="centered" *ngIf="isLoading">
            <app-loader></app-loader>
        </div>
        @for (entity of entities; track $index) {
        <app-cluster-card *ngIf="entity.cluster!=null" [cluster]="entity.cluster"></app-cluster-card>
        <app-cluster-data-object-card *ngIf="entity.dataObject!=null"
            [dataObject]="entity.dataObject"></app-cluster-data-object-card>
        }@empty {
        <div class="centered" *ngIf="!isLoading">
            <p class="nothing-text" i18n>Елементів не знайдено</p>
        </div>
        }
        <div class="centered" *ngIf="isLoading2">
            <app-loader></app-loader>
        </div>
        <div class="centered" *ngIf="isLoadMoreAvailable && !isLoading && !isLoading2">
            <button class="more-btn" (click)="addMore()" i18n>Завантажити більше</button>
        </div>
    </div>
</div>