<section>
    <h1 i18n>Квоти користувача</h1>
    <p i18n>У кожного користувача є певна кількість квот кожного типа, які він може використати. Подивитися всю кількість доступних та використаних квот можна на відповідній сторінці акаунта</p>

    <h2 class="center">Таблиця Ціни квот</h2>
    <table>
        <tr>
            <th>Тип взаємодії</th>
            <th>Кількість використаних квот</th>
        </tr>
        <tr class="main-tr">
            <td colspan="2">Youtube</td>
        </tr>
        <tr>
            <td i18n>Завантаження 1 канала</td>
            <td>50</td>
        </tr>
        <tr>
            <td i18n>Завантаження 1 відео</td>
            <td>10</td>
        </tr>
        <tr>
            <td i18n>Завантаження 1 коментаря</td>
            <td>1</td>
        </tr>

        <tr class="main-tr">
            <td colspan="2">Telegram</td>
        </tr>
        <tr>
            <td i18n>Завантаження 1 канала</td>
            <td>50</td>
        </tr>
        <tr>
            <td i18n>Завантаження 1 повідомлення</td>
            <td>5</td>
        </tr>
        <tr>
            <td i18n>Завантаження 1 відповіді</td>
            <td>1</td>
        </tr>

        <tr class="main-tr">
            <td i18n colspan="2">Ембедінги (на 1 елемент)</td>
        </tr>
        <tr>
            <td i18n>Text embedding Ada 002</td>
            <td>5</td>
        </tr>
        <tr>
            <td i18n>Text embedding 3 small</td>
            <td>1</td>
        </tr>
        <tr>
            <td i18n>Text embedding 3 large</td>
            <td>8</td>
        </tr>

        <tr class="main-tr">
            <td i18n colspan="2">Робочі простори (публічні)</td>
        </tr>
        <tr>
            <td i18n>Створення</td>
            <td>1</td>
        </tr>

        <tr class="main-tr">
            <td i18n colspan="2">Робочі простори (приватні)</td>
        </tr>
        <tr>
            <td i18n>Створення</td>
            <td>1</td>
        </tr>

        <tr class="main-tr">
            <td i18n colspan="2">Профілі (публічні)</td>
        </tr>
        <tr>
            <td i18n>Створення</td>
            <td>1</td>
        </tr>

        <tr class="main-tr">
            <td i18n colspan="2">Профілі (приватні)</td>
        </tr>
        <tr>
            <td i18n>Створення</td>
            <td>1</td>
        </tr>

        
        <tr class="main-tr">
            <td i18n colspan="2">Кластеризація (формули)</td>
        </tr>
        <tr>
            <td i18n>DBSCAN</td>
            <td i18n>(кількість елементів) * (вимір) / 2</td>
        </tr>
        <tr>
            <td i18n>K-means</td>
            <td i18n>(кількість елементів) * (вимір) / 2</td>
        </tr>
        <tr>
            <td i18n>One Cluster</td>
            <td i18n>1 + (кількість елементів) / 5</td>
        </tr>
        <tr>
            <td i18n>Gaussian Mixture</td>
            <td i18n>(кількість елементів) * (вимір) * (1 + Math.Sqrt(вимір))</td>
        </tr>
        <tr>
            <td i18n>Spectral Clustering</td>
            <td i18n>(кількість елементів) * (вимір) * 1000</td>
        </tr>
    </table>
</section>