<section>
    <h1 i18n>One cluster</h1>
    <p i18n>One cluster це найпростіший алгоритм кластеризації. Він не виконує функцій аналізу, а тільки групує всі точки простору в один кластер. Це зроблено для зручної візуалізації даних без порушення логіки взаємодії.</p>
    <p i18n>Параметри для створення One cluster</p>
    <ul>
        <li i18n>Колір точок</li>
    </ul>

    <img src="https://clusterization.website/images/algorithms/One_Cluster_page.png" alt="The adding page for one cluster">
    <p class="center" i18n>Сторінка додавання алгоритму</p>
</section>