<section>
    <h1 i18n>Завантаження кількох відео</h1>
    <p i18n>Завантаження одного або кількох відео відбувається на відповідній секції яка знаходиться на детальній сторінці каналу</p>
    <p i18n>У секції завантажується деяка кількість відео з відповідного каналу, які відображаються користувачеві. Можливий вибір, за яким критерієм вони відсортовані: "Спочатку новіші" або "Спочатку популярніші". Також можливий пошук за назвою. Якщо кількість завантажених відео недостатня, можливе більше їх завантаження у самому низу списку відео, натиснувши на відповідну кнопку</p>
    <p i18n>Після цього користувач може вибрати одне або кілька відео (назва вже завантажених відео підсвічується червоним, та їх вибрати неможливо). Та натиснути кнопку для завантаження. Це створить спеціальну фонову задачу, та відповідні відео будуть завантажені</p>
    <img src="https://clusterization.website/images/youtube/videos/load_videos_by_ids.png" alt="The image of loading youtube videos by ids">
    <p class="center" i18n>Сторінка завантаження кількох відео</p>
</section>