@import '/src/app/core/styles/header-styles.scss';


header {
    box-shadow: 0 0 5px 0.1px $telegram-color-2;

    .standard {
        background-color: $telegram-color-2;

        >div>ul {
            .logo-cont {
                a {
                    color: $telegram-color-1;
                }

                &:hover {
                    a {
                        color: $youtube-color-1;
                    }
                }
            }

            li {
                color: $telegram-color-1;

                a {
                    color: $telegram-color-1;
                }

                &:hover {
                    color: $youtube-color-1;

                    a{
                        color: $youtube-color-1;
                    }
                }
            }
        }
    }
    .phone-menu{
        background-color: $telegram-color-2;

        .menu-btn {
            color: $telegram-color-1;
        }
    }
}