<section>
    <h1 i18n>Відображення</h1>
    <h2 i18n>Картка робочого простору у списку</h2>
    
    <p i18n>При перегляді робочих просторі у списку кожен із них відображається у вигляді картки. На ній зображено: заголовок робочого простору,
        опис, область видимості та область модифікації. Також відображається дата створення робочого простору.</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_card.png" alt="the workspace`s card">
    <p class="center" i18n>Картка робочого простору</p>

    <h2 i18n>Детальна сторінка робочого простору</h2>
    <p i18n>Натиснувши на картку робочого простору можна попасти на основну сторінку. На ній зображається основна інформація про робочий простір та список доданих профілів до нього. Крім цього, існують додаткові функції взаємодії</p>
    <img src="https://clusterization.website/images/workspaces/workspaces_full_page.png" alt="The workspace`s page">
    <p class="center" i18n>Сторінка робочого простору</p>
</section>