<section>
    <form [formGroup]="algorithmForm" (ngSubmit)="submit()">
        <div>
            <div class="input-cont">
                <span class="material-symbols-outlined icon" translate="no" i18n-matTooltip matTooltip="Epsilon (%)">percent</span>
                <input type="number" max="100" min="0" i18n-placeholder placeholder="Epsilon (%)*" formControlName="epsilon" id="epsilon">
            </div>
            <div class="errors" *ngIf="epsilon.invalid && (epsilon.touched)">
                <p *ngIf="epsilon.errors?.['required']" class="error" i18n>Epsilon не може бути пустою</p>
            </div>
        </div>
        <div>
            <div class="input-cont">
                <span class="material-symbols-outlined icon" translate="no" i18n-matTooltip matTooltip="Мінімальна кількість точок у кластері">123</span>
                <input type="number" minlength="1" step="1" i18n-placeholder placeholder="Мінімальна кількість точок у кластері *" formControlName="minimumPointsPerCluster" id="minimumPointsPerCluster">
            </div>
            <div class="errors" *ngIf="minimumPointsPerCluster.invalid && (minimumPointsPerCluster.touched)">
                <p *ngIf="minimumPointsPerCluster.errors?.['required']" class="error" i18n>Мінімальна кількість точок у кластері не може бути пустою</p>
                <p *ngIf="minimumPointsPerCluster.errors?.['minlength']" class="error" i18n>Мінімальна кількість - 1</p>
            </div>
        </div>
        <div class="centered">
            <app-loader *ngIf="isLoading"></app-loader>
            <button class="standard-btn" type="submit" *ngIf="!isLoading" i18n>Додати</button>
        </div>
    </form>
</section>