<section>
    <h1 i18n>Додавання даних</h1>

    <h2 i18n>Тип "Telegram Replies"</h2>
    <p i18n>Після завантаження відповідей з платформи Telegram, стає можливим додавання їх у робочий простір. Для початку його необхідно вибрати, натиснувши відповідну кнопку в додатковому функціоналі робочого простору на основній його сторінці. При цьому вибраний робочий простір у списку буде підсвічуватися червоним кольором. Додавання можливе у кілька етапів</p>
    
    <p i18n>Для додавання відповідей існує два підходи: додавати їх зі всіх повідомлень через канал, чи вибравши одне або кілька. Всі додавання реалізовані через головну сторінку каналу в додатковому функціоналі</p>
    <img src="" alt="How to add Telegram replies to workspace">
    <p class="center" i18n>Зображення, як додати відповіді до робочого простору</p>

    <h3 i18n>Додавання відповідей із всього каналу</h3>
    <p i18n>Для додавання відповідей зі всього каналу необхідно вибрати відповідну функцію в додатковому функціоналі каналу. Після цього відкривається сторінка додавання відповідей</p>
    <p i18n>На сторінці необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата від: дата від якої додаються відповіді. Не є обов'язковим</li>
        <li i18n>Дата до: дата до якої додаються коментарі. Не є обов'язковим</li>
        <li i18n>Максимальна кількість: максимальна кількість відповідей, які можуть бути додані. Є обов'язковим</li>
        <li i18n>Вибір між двох параметрів: додати за датою повідомлення або додати за датою відповідей. Це визначає по якій з дат будуть додані відповіді</li>
    </ul>
    <p i18n>Після натискання відповідної кнопки створиться фонове завдання та коментарі із відповідними параметрами будуть додані до вибраного робочого простору.</p>
    <img src="" alt="Adding replies from channel to workspace">
    <p class="center" i18n>Зображення, як додати відповіді до робочого простору з каналу</p>


    <h3 i18n>Додавання відповідей із певних повідомлень</h3>
    <p i18n>Для додавання відповідей із певних повідомлень каналу необхідно вибрати відповідну функцію в додатковому функціоналі каналу. Після цього відкриється сторінка додавання відповідей</p>
    <p i18n>На сторінці необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата від: дата від якої додаються відповіді. Не є обов'язковим</li>
        <li i18n>Дата до: дата до якої додаються відповіді. Не є обов'язковим</li>
        <li i18n>Максимальна кількість (у повідомленні): максимальна кількість відповідей, які можуть бути додані з одного повідомлення. Є обов'язковим</li>
        <li i18n>Також, необхідно вибрати повідомлення із списку, які будуть завантажені</li>
    </ul>
    <p i18n>Після натискання відповідної кнопки створиться фонове завдання та відповіді з відповідними параметрами будуть додані до вибраного робочого простору</p>
    <img src="" alt="Adding replies from channel messages to workspace">
    <p class="center" i18n>Зображення, як додати відповіді до робочого простору з кількох повідомленнь</p>

    <h2 i18n>Тип "Telegram Messages"</h2>
    <p i18n>Після завантаження повідомленнь з платформи Telegram, стає можливим додавання їх у робочий простір</p>

    <h3 i18n>Додавання повідомленнь із всього каналу</h3>
    <p i18n>Для додавання повідомленнь зі всього каналу необхідно вибрати відповідну функцію в додатковому функціоналі каналу. Після цього відкривається сторінка додавання повідомлень</p>
    <p i18n>На сторінці необхідно вибрати кілька параметрів:</p>
    <ul>
        <li i18n>Дата від: дата від якої додаються повідомлення. Не є обов'язковим</li>
        <li i18n>Дата до: дата до якої додаються повідомлення. Не є обов'язковим</li>
        <li i18n>Максимальна кількість: максимальна кількість повідомленнь, які можуть бути додані. Є обов'язковим</li>
    </ul>
    <p i18n>Після натискання відповідної кнопки створиться фонове завдання та повідомлення із відповідними параметрами будуть додані до вибраного робочого простору.</p>
    <img src="" alt="Adding messages from telegram channel to workspace">
    <p class="center" i18n>Зображення, як додати повідомлення до робочого простору з каналу</p>
</section>