<section>
    <h1 i18n>Паки квот</h1>
    <p i18n>Надавання квот користувачу відбувається не на пряму, а за допомогою паків квот. Кожен пак містить певну кількість квот кожного типу, які відповідно зараховуються користувачу при активації пака</p>
    <p i18n>Перший пак надається при верифікації електронної пошти. Також, користувач може подивитися список всіх активованих паків на відповідній сторінці аканту</p>

    <img src="" alt="Quotas pack logs page">
    <p class="center" i18n>Сторінка активованих паків квот</p>
</section>