<section class="overflow-cont middle-overflow-cont" [class.overflow-cont-open]="animationState=='in'">
    <div class="main-cont" [@popUpAnimation]="animationState">
        <div class="close-cont">
            <span class="material-symbols-outlined icon" translate="no" (click)="closeOverflow()">close</span>
        </div>
        <h1 i18n>Додати повідомлення до робочого простору</h1>

        <form [formGroup]="optionsForm" (ngSubmit)="load()" class="options-cont">
            <div class="input-cont">
                <input id="dateFrom" type="date" i18n-matTooltip matTooltip="Дата від" matTooltipPosition="above" formControlName="dateFrom">
            </div>
            <div class="input-cont">
                <input id="dateTo" type="date" i18n-matTooltip matTooltip="Дата до" matTooltipPosition="above" formControlName="dateTo">
            </div>
            <div class="input-cont">
                <input id="maxCount" type="number" min="0" step="1" i18n-placeholder placeholder="Максимальна кількість*" formControlName="maxCount">
            </div>
            <div class="centered">
                <button class="standard-btn" type="submit" *ngIf="!isLoading" i18n>Додати</button>
            </div>
        </form>
        </div>
</section>